/NetBeansProjects/P4_5_JSPredirect/dist/
/NetBeansProjects/jstlfrmt/nbproject/private/
/NetBeansProjects/jstlfrmt/build/
/NetBeansProjects/jstlfrmt/dist/
/NetBeansProjects/Filter/build/
/NetBeansProjects/databaseDemo/nbproject/private/
/NetBeansProjects/databaseDemo/build/
/NetBeansProjects/databaseDemo/dist/