/NetBeansProjects/P4_5_JSPredirect/dist/
/NetBeansProjects/jstlfrmt/nbproject/private/
/NetBeansProjects/jstlfrmt/build/
/NetBeansProjects/jstlfrmt/dist/
/NetBeansProjects/Filter/build/
/NetBeansProjects/databaseDemo/nbproject/private/
/NetBeansProjects/databaseDemo/build/
/NetBeansProjects/databaseDemo/dist/
/NetBeansProjects/JavaApplication2/nbproject/private/
/NetBeansProjects/JavaApplication3/nbproject/private/
/NetBeansProjects/JavaApplication3/build/
/NetBeansProjects/JavaApplication3/dist/
/NetBeansProjects/JavaApplication4/nbproject/private/
/NetBeansProjects/JavaApplication4/build/