<web-app>  
 <servlet>  
    <servlet-name>AdminServlet</servlet-name>  
    <servlet-class>AdminServlet</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
    <servlet-name>AdminServlet</servlet-name>  
    <url-pattern>/servlet1</url-pattern>  
  </servlet-mapping>  
    
 <filter>  
    <filter-name>f1</filter-name>  
    <filter-class>MyFilter</filter-class>
    <init-param>
      <param-name>naeem</param-name>
      <param-value>Values</param-value>
      <!--config.getInitParameter("naeem")-->
    </init-param>
 </filter>  
  
 <filter-mapping>  
    <filter-name>f1</filter-name>  
    <url-pattern>/servlet1</url-pattern>
    <!--<servlet-name>WelcomeServlet</servlet-name>-->  
 </filter-mapping>
</web-app>
    